@use "../variables/colors";

footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding-top: 60px;
    // background-color: rgb(227, 227, 227);

    & a {
        padding: 10px;
    }
}